{% extends 'base.html' %}

{% block title %}
    <title>Manage events - Simply Event</title>
{% endblock %}

{% block content %}
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Location</th>
                <th scope="col">Start Date</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for event in event_list %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.location }}</td>
                    <td>{{ event.start_date }}</td>
                    <td>
                        <a href="{% url 'simply_event_app:event_detail' event.id %}" class="btn btn-primary">Show</a>
                        <a href="{% url 'simply_event_app:event_update' event.id %}" class="btn btn-info">Edit</a>
                        <a href="{% url 'simply_event_app:event_delete' event.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}